* { 
    box-sizing: border-box;
    font-family: 'Poppin', sans-serif;
    list-style-type: none;
    /*padding: 0;*/
    scroll-behavior: smooth;
    text-decoration: none;
    color: inherit;
    transition: all 0.20s ease-in-out;

  }

.App {
    /*background-color: #65A8E7*/
   /* color: #CFF8FC;*/
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    color: #D3E6F8;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-bar a {
    
    
}

.nav-bar a:hover {
    background-color: #348DDF
    ;
    padding: 5%;
    
}

.social-media {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: flex-start;
}

.follow_me {
    display: flex;
    align-items: center;
}
.follow_me p {
    text-align: center;
    display: flex;
    justify-content: center;
}

.follow_me a {
    padding: 15%;
    
}

.follow_me .logo {
    display: flex;
    margin: 15%;
}

.picture-and-txt {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    color: #D3E6F8;
    margin: 2%;
    border-radius: 20px;
}

.profil_picture {
    align-items: center;
    display: flex;
    justify-content: space-around;
    
}
.profil_picture img {
    width: 60%;
    /* height: 80%; */
    padding: 5%;
}

.txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
}

.txt p {
    
}

.picture-and-txt button {
    background-color: #348DDF;
    padding: 25px;
    border-radius: 25px;
    color: #000000;
}

h2 {
    display: flex;
    justify-content: center;
    margin-left: 10%;

}

 .about-me {

 }

 .my-skills {
    width: 100%;
    background-color: #000000;
    color: #D3E6F8;
    border-radius: 20px;

 }

 .all-skills {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

 }

 .card {
    width: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 250px;
    text-align: center;
    margin: 2%;
 }

 .card a:hover {
    background-color: #65A8E7;
 }

 .my-projects {
    background-color: #000000;
    color: #D3E6F8;
    border-radius: 20px;
    
}

 .my-projects img {
    width: 50%;
}

.project_picture_and_txt {
    display: flex;
    align-items: center;
    margin: 3%;

}

.project_picture img {

}

 .contact-me {

 }

footer {
    background-color: black;
    color: #D3E6F8;
    padding: 2rem;
    
}

footer h2 {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2.5rem;
}

footer .footer-logo {

    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: auto;
    /*background-color: white;*/
    /*width: 30%;*/
    border-radius: 25px;
    
}



